<p>
  <mat-toolbar class="header" color="primary">
    <p class="titulo-principal">Internet <strong>Banking</strong></p>
    <p class="sair">Sair</p>
  </mat-toolbar>
  <mat-toolbar class="header-saldo" color="primary">
    <mat-icon class="menu">apps</mat-icon>
      <span class="saldo">Saldo:
        <mat-icon class="saldo">keyboard_arrow_down</mat-icon><br>
        {{ saldo }}
      </span>
    <span class="example-spacer"></span>
    <span class="conta">02023 1288 <br> 000850894586-6</span>
    <mat-icon class="adicionar-conta">arrow_drop_down</mat-icon>
  </mat-toolbar>
  <img src="../assets/img-fundo.jpeg" alt="" class="img-fundo">
</p>